#----------------------------
# gpu-watch GIT ignore file
#----------------------------

# Release Backups
bak/

# Development Files
dev/

# VS Code
pr_gpuwatch.code-workspace

#----------------------------
# venv (python)
#----------------------------
# When using venv's for:
# 
#----------------------------


venv/


#----------------------------
# Test files
#----------------------------
llamacli-help.txt
llamaserver-help.txt


#----------------------------
# Felix Hauri Bash files
# https://f-hauri.ch/vrac/
#----------------------------

#hauri/
#extras/
#junk/

#----------------------------
# END
#----------------------------
