#----------------------------
# gpu-watch GIT ignore file
#----------------------------

# Release Backups
bak/

# Development Files
dev/


# Felix Hauri Bash files
# https://f-hauri.ch/vrac/

#hauri/
#extras/
#junk/

#----------------------------
# END
#----------------------------
